*{
    margin:0;
    padding:0;
    text-decoration: none;
    user-select: none;
}

.app{
    min-width: 400px;
    transition: all 0.5s;
    position: relative;
    /* padding: 20px; */
    /* background-color: green; */
}

